/* Write your CSS here */

.slider-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  height: 100vh;
  background-size: cover;
  padding: 20px 65px 20px 65px;
}

.main-heading {
  text-align: center;
  color: #05acff;
  font-family: 'Roboto';
}
